{% extends 'base.html.twig' %}

{% block title %}New Order!{% endblock %}

{% block body %}

<h1>Nuevo pedido 🆕</h1>

<div class="row">
    <div class="col text-end pb-2">
        <a class="btn btn-warning" href="{{ url('orders') }}">Volver</a>
    </div>
</div>

{% if message %}
    <div class="alert alert-{{alert}}" role="alert">
        {{message | raw}}
    </div>
{% endif %}

<form action="{{ url('create_order') }}" method="post" id="form_pay">

    <label for="item_name" class="form-label">item_name</label>
    <input type="text" name="item_name" id="" value="Lampara de escritorio" required=""><br>

    <label for="amount" class="form-label">amount</label>
    <input type="text" name="amount" id="" value="13.00" required=""><br>


    <label for="quantity" class="form-label">quantity</label>
    <input type="text" name="quantity" id="" value="2" required=""><br>

    <hr>

    <button class="btn btn-success" type="submit">Pagar ahora con Paypal!</button>

</form>

{% endblock %}
